.Rproj.user
.Rhistory
.RData
.Ruserdata
.dat
.csv
*.dmg
*.gh5
*.log
/invariance/*.dmg
/invariance/*.dat
*.pdf
*.docx
*.tex
*.dat
*.ttt
*.RData
*.dgm
test.rmd
test_table.rmd
*.fff
*.aux
*.out
*.gz
*.eps
*.txt
*.png
Exported items.bib
*.zip